/*Important Colors [Darien Tsai, Date: 8-7-19]*/

::selection {background: #b2e4f0;}

$transparent: #00000000;

//Overall Colors
$totalBg: #1a1a1a;
$sidebarBg: #2a2a2a;
$sectionDivider: #2d4146;
$differenceBg: #262626;
$bigButton: #1f1f1f;
$focusFieldTextColor: #dfdfdf;
$focusFieldLine: #b2e4f0;
$focusFieldBg: #222222;
$uiText: #d4d4d4;

//Left bar head colors
$leftHeadSessionTextColor: #b4b4b4;
$leftHeadAuthorTextColor: #7c7c7c;

//Palette colors
$removeButtonActive: #810000;
$removeButtonShadow: #4b1515;
$removeButtonHover: #1f1414;

//Groups Colors
$ghostGroup: #333333;
$filledGroup: #636363;
$groupPseudoBg: #0f0f0f;
$activeGroup: #929898;

//Color Colors
$colorBg: #343939;
$colorBorderActive: #6dc0c9;
$colorBorder: #204949;
$colorDisplayBorder: #454545;

//Picker Colors
$colorFade: #161616;
$colorName: #2f2f2f;

//Options Colors
$optionButtonShadow: #0d3d3d;

//Info colors
$infoFieldText: #d4d4d4;
$infoDescText: #777777;
$numContainerBg: #95d4d4;
$numContainerShadow: #08201d;
$numFlairBg: #4c5858;
$overallContainerBg: #979797;
$displayShadow: #171d1d;

//Produce colors
$produceButtonActive: #007e00;
$produceButtonShadow: #124612;
$produceButtonHover: #112011;

//Share Colors
$popBg: #7c7c7c7a;
$popShadow: #202020;
$copyHover: #141414;