/*Contains global CSS values [Darien Tsai, 8-7-19]*/
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

*{
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}

/*Scroll Bar*/

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: rgba(245, 245, 245, 0);
  
}

::-webkit-scrollbar{
  width: 3px;
  height: 3px;
  background-color: rgb(1, 26, 29);
  
}

::-webkit-scrollbar-thumb{
  background-color: #849796;
  border-radius: 10px;
}

/*Defaults*/

button{
  cursor:pointer;
  border: none;
  outline: none;
  background-color: $bigButton;
  background-image: none;
  transition-duration: 0.1s;
  border-left: 3px solid $transparent;
  border-right: 3px solid $transparent;
  box-sizing: border-box;
}

%fullDims{
  width: 100vw;
  height: 100vh;
}

body{
  @extend %fullDims;
  transform-style: preserve-3d;
  overflow: hidden;
}

%commonFlexing{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

input{
  transition-duration: 0.2s;
  outline: none;
  border: none;
  padding: 2% 2%;
  text-overflow: ellipsis;
  background-color: $transparent;
}

input:focus{
  border-color: black;
  color: $focusFieldTextColor;
  padding: 2% 5%;
  text-indent: 3px;
  border-left: 2px solid $focusFieldLine;
  border-right: 2px solid $focusFieldLine;
  background-color: $focusFieldBg;
}

input:hover{
  border-left: 2px solid $focusFieldLine;
  background-color: $focusFieldBg;
}