/*
 * Author: Darien Tsai
 * Date: 8-24-19
 * Landing page styles :D
*/

:root{
  height: 100%;
}

body{
  background-color: #1f1e1e;
  overflow-x: hidden;
  color: rgb(211, 211, 211);
}

h1, h3{
  font-weight: normal;
}

img{
  user-select: none;
}

/*nav*/

nav, header, section, footer{
  width: 100%;
}

nav{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: fit-content;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgb(22, 22, 22));
}

nav img{
  max-height: 35px;
  transition-duration: 0.3s;
}

nav img:hover{
  transform: rotate(10deg);
}

.nav-side{
  width: fit-content;
  height: 100%;
  padding: 0.8% 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}

.nav-link{
  font-size: 1.1em;
  color: rgb(211, 211, 211);
  padding: 0 10%;
  width: fit-content;
  height: fit-content;
  line-height: 2;
  text-decoration: none;
  text-align: center;
  height: 100%;
  display: block;
}

.nav-link:hover{
  color: rgb(240, 240, 240);
}

/*header*/

header{
  height: 90vh;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.452), rgba(0, 0, 0, 0));
  display: flex;
  justify-content: space-around;
}

header div{
  height: 100%;
  display: flex;
  justify-content: center;
}

#head-img{
  width: 48%;
  align-items: flex-end;
  overflow-y: hidden;
}

#head-text{
  width: 35%;
  align-items: center;
  flex-direction: column;
}

header img{
  display: block;
  max-width: 90%;
  box-shadow: 0 0 35px 5px rgba(0, 0, 0, 0.678);
}

@keyframes fade{
  to{opacity: 1;}
}

header h1{
  font-size: 16em;
  opacity: 0;
  animation: fade 3s 0.2s 1 cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

header p{
  font-size: 2.25em;
  opacity: 0;
  animation: fade 2s 0.5s 1 cubic-bezier(0.25, 0.3, 0.45, 0.94) forwards;
}

/*intro*/

#intro{
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-image: url("../png/workspace.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

#intro-img{
  width: 38%;
  height: 100%;
}

#intro-text{
  width: 65%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#intro h1{
  font-size: 6.5em;
  padding: 3% 0;
}

#intro p{
  font-size: 1.8em;
  padding: 5% 0;
}

/*features*/

#features{
  height: fit-content;
  padding: 3% 0;
  background-color: #050505;
  width: 100%;
  margin: auto;
}

#feature-cards{
  width: 80%;
  padding: 3% 0;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

figure{
  padding: 2%;
  border-radius: 3px;
  width: 15%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid rgb(28, 86, 99);
  border-top: 3px solid rgb(32, 149, 179);
  border-left: 3px solid rgb(32, 149, 179);
  border-right: 3px solid rgb(28, 86, 99);
}

figure img{
  padding: 15% 0;
  width: 7vw;
  height: 7vw;
}

figcaption{
  padding: 10% 0;
  font-size: 1.7em;
  text-align: center;
}

#feature-underlines{
  width: 90%;
  padding: 20px 0;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.feature-underline{
  height: 1px;
  border-radius: 5px;
  background-color: rgb(0, 204, 255);
}

.side{
  width: 15%;
}

.center{
  width: 50%;
}

/*action*/

#action{
  width: 100%;
  padding: 2% 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

#action-text{
  width: 45%;
  height: 100%;
}

#action-img{
  width: 35%;
  height: 100%;
}

#action img{
  display: block;
  max-width: 80%;
  float: left;
}

#action h3{
  font-size: 5em;
}

#action a{
  padding: 2.3%;
  cursor: pointer;
  background-color: #448b8f;
  display: block;
  text-decoration: none;
  color: rgb(211, 211, 211);
  font-size: 1.5em;
  width: fit-content;
  border-radius: 3px;
  margin: 15% auto 3%;
  box-shadow: 0 0 20px 7px rgb(20, 20, 20);
}

#action a:hover{
  color: rgb(206, 206, 206);
  box-shadow: 0 0 35px 10px rgb(20, 20, 20);
}

/*footer*/

footer{
  background-color: rgb(0, 0, 0);
  padding: 2% 0;
  text-align: center;
}

footer img{
  display: block;
  margin: auto;
  padding: 1% 0;
}